@model CategoryNode

<li>
    <a plp-type="category" plp-model="@Model.Id" data-toggle="collapse" href="#@Model.Id" role="button" aria-expanded="false" aria-controls="@Model.Id">@Model.Title</a>
    @if (Model.Categories != null && Model.Categories.Any())
    {
        <ul id="@Model.Id" class="collapse">
            @foreach (var c in Model.Categories)
            {
                @await Html.PartialAsync("Sections/CategoryTree", c);
            }
        </ul>
    }
</li>