@model FilterSection

@if (Model != null && Model.Options != null && Model.Options.Any())
{
    <h3>@Model.Title</h3>
    <ul>
        @foreach (var option in Model.Options)
        {
            <li>
                <label>
                    <input type="checkbox" plp-type="filter" plp-model='@Html.Encode(option.ClientModel.ToJson())' onchange="filterChange(event)"  />@option.Value
                </label>
            </li>
        }
    </ul>
}
