@using WebApplication7.Views.Shared.Sections
@model IEnumerable<FiltersViewModel>

@if (Model != null && Model.Any())
{
    foreach (var filter in Model)
    {
        <div>
            @await Html.PartialAsync("Sections/FilterSection", filter)
        </div>
    }
}